services:
  pg-ride:
    image: postgres
    hostname: ${PG_HOST}
    restart: always
    shm_size: 128mb
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
      PG_USER: ${PG_USER}
    networks:
      - service-net
    volumes:
      - ./pg_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready"]
      interval: 30s
      timeout: 60s
      retries: 5
      start_period: 80s

  ride-repository:
    image: sfuri/ride-registry:0.1.3
    ports:
      - 9991:9991
    environment:
      PORT: 9991
      POSTGRES_HOST: ${PG_HOST}
    env_file:
      ./.env
    networks:
      - service-net
    depends_on:
      pg-ride:
        condition: service_healthy

networks:
  service-net:
    external: true
